.mainContainer {
  width: 100%;
  height: 100%; }
  .mainContainer .keyDecoderControls {
    min-height: 50px;
    overflow: hidden; }
    .mainContainer .keyDecoderControls .fileSelector, .mainContainer .keyDecoderControls .keySelector, .mainContainer .keyDecoderControls .cropControls, .mainContainer .keyDecoderControls .alignControls, .mainContainer .keyDecoderControls .bittingContainer {
      outline-width: 1px;
      outline-style: solid;
      outline-color: black;
      padding: 2mm;
      padding-top: 0;
      margin: 1mm;
      margin-right: 0; }
      .mainContainer .keyDecoderControls .fileSelector label, .mainContainer .keyDecoderControls .keySelector label, .mainContainer .keyDecoderControls .cropControls label, .mainContainer .keyDecoderControls .alignControls label, .mainContainer .keyDecoderControls .bittingContainer label {
        white-space: pre;
        text-align: left; }
      .mainContainer .keyDecoderControls .fileSelector ::before, .mainContainer .keyDecoderControls .keySelector ::before, .mainContainer .keyDecoderControls .cropControls ::before, .mainContainer .keyDecoderControls .alignControls ::before, .mainContainer .keyDecoderControls .bittingContainer ::before {
        content: "\A"; }
      .mainContainer .keyDecoderControls .fileSelector :not(label), .mainContainer .keyDecoderControls .keySelector :not(label), .mainContainer .keyDecoderControls .cropControls :not(label), .mainContainer .keyDecoderControls .alignControls :not(label), .mainContainer .keyDecoderControls .bittingContainer :not(label) {
        text-align: right; }
      .mainContainer .keyDecoderControls .fileSelector h3, .mainContainer .keyDecoderControls .keySelector h3, .mainContainer .keyDecoderControls .cropControls h3, .mainContainer .keyDecoderControls .alignControls h3, .mainContainer .keyDecoderControls .bittingContainer h3 {
        margin: 0;
        padding: 0; }
  .mainContainer .keyDecoder {
    width: 100%;
    height: 50%; }
    .mainContainer .keyDecoder canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

@media (min-width: 1500px) {
  .fileSelector, .keySelector, .cropControls, .alignControls, .bittingContainer {
    width: 22%; } }

@media (min-width: 800px) and (max-width: 1499px) {
  .fileSelector, .keySelector, .cropControls, .alignControls, .bittingContainer {
    width: 31%; } }

@media (max-width: 799px) {
  .fileSelector, .keySelector, .cropControls, .alignControls, .bittingContainer {
    width: 99%; } }
