.mainContainer {
    //position: absolute;

    width:  100%;
    height: 100%;

    //display: inline-block;

    .keyDecoderControls {

        min-height: 50px;
        overflow: hidden;

        .fileSelector, .keySelector, .cropControls, .alignControls, .bittingContainer {
            outline-width: 1px;
            //outline-style: groove;
            outline-style: solid;
            outline-color: black;

            padding: 2mm;
            padding-top: 0;
            margin:  1mm;
            margin-right: 0;

            

            label {
                white-space: pre;
                text-align: left;
            }::before {
                content: "\A";
            }

            :not(label) {
                text-align: right;
            }

            h3 {
                margin:  0;
                padding: 0;
            }

            //break-inside: avoid;
        }
    }

    .keyDecoder {
        //position: relative;

        width:  100%;
        height: 50%;

        //clear: left;
        //float: left;

        canvas {
            position: absolute;

            top:  0;
            left: 0;

            width:  100%;
            height: 100%;
        }
    }
}

@media (min-width: 1500px) {
    .fileSelector, .keySelector, .cropControls, .alignControls, .bittingContainer {
        width: 22%;
    }
}

@media (min-width: 800px) and (max-width: 1499px) {
    .fileSelector, .keySelector, .cropControls, .alignControls, .bittingContainer {
        width: 31%;
    }
}

@media (max-width: 799px) {
    .fileSelector, .keySelector, .cropControls, .alignControls, .bittingContainer {
        width: 99%;
    }
}